In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('accounts.csv',
                 names=['account', 'name', 'balance'])

In [3]:
df

   account   name  balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.62

In [4]:
df.to_csv('accounts_from_dataframe.csv', index=False)

In [ ]:
#IvanQuackenbush