In [2]:
accounts_dict = {'accounts': [
    {'account': 100, 'name': 'Jones', 'balance': 24.98},
    {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [3]:
import json

In [4]:
with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts)

In [5]:
with open('accounts.json', 'r') as accounts:
    accounts_json = json.load(accounts)

In [6]:
accounts_json

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [7]:
accounts_json['accounts']

[{'account': 100, 'name': 'Jones', 'balance': 24.98},
 {'account': 200, 'name': 'Doe', 'balance': 345.67}]

In [8]:
accounts_json['accounts'][0]

{'account': 100, 'name': 'Jones', 'balance': 24.98}

In [9]:
accounts_json['accounts'][1]

{'account': 200, 'name': 'Doe', 'balance': 345.67}

In [11]:
with open('accounts.json', 'r') as accounts:
    print(json.dumps(json.load(accounts), indent=4))
    
{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [12]:
 import json

In [13]:
grades_dict = {'gradebook':
               [{'student_id': 1, 'name': 'Red', 'grade': 'A'},
                {'student_id': 2, 'name': 'Green', 'grade': 'B'},
                {'student_id': 3, 'name': 'White', 'grade': 'A'}]}

In [14]:
with open('grades.json', 'w') as grades:
    json.dump(grades_dict, grades)

In [16]:
with open('grades.json', 'r') as grades:
    print(json.dumps(json.load(grades), indent=4))
    {
        "gradebook": [
            {
                "student_id": 1,
                "name": "Red",
                "grade": "A"
            },
            {
                "student_id": 2,
                "name": "Green",
                "grade": "B"
            },
            {
                "student_id": 3,
                "name": "White",
                "grade": "A"
            }
        ]
    }

{
    "gradebook": [
        {
            "student_id": 1,
            "name": "Red",
            "grade": "A"
        },
        {
            "student_id": 2,
            "name": "Green",
            "grade": "B"
        },
        {
            "student_id": 3,
            "name": "White",
            "grade": "A"
        }
    ]
}

In [17]:
#IvanQuackenbush